<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <title>My Gym</title>
        <base href="/" />
        <link rel="apple-touch-icon-precomposed" href="../../wwwroot/images/computer-152-216996.png">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../../wwwroot/images/computer-120-216996.png">
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
