<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <ul class="nav navbar-nav row text-center">
        <li class="col-xs-3" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/home']">
                <span class='glyphicon glyphicon-home'></span>
            </a>
        </li>
        <li class="col-xs-3" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/counter']">
                <span class='glyphicon glyphicon-education'></span>
            </a>
        </li>
        <li class="col-xs-3" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/fetch-data']">
                <span class='glyphicon glyphicon-th-list'></span>
            </a>
        </li>
        <li class="col-xs-3" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/my-component']">
                <span class='glyphicon glyphicon-bullhorn'></span>
            </a>
        </li>
    </ul>
</nav>