.navbar {
    font-size: 1.2em;
    background-color: white;

    li a {
        transition: all .3s ease;
    }

    li a:hover {
        color: lightcoral;
    }

    li.link-active a {
        color: lightcoral;
    }
}
